@import './_variables.css';

.board {
  border: 4px solid var(--color-window-dark);
  border-right-color: var(--color-window-light);
  border-bottom-color: var(--color-window-light);
  display: grid;
  gap: 0;
  background-color: var(--color-window-dark);
}
