@import './_variables.css';
@import './_game-window.css';
@import './_header.css';
@import './_counter.css';
@import './_timer.css';
@import './_game-status.css';
@import './_board.css';
@import './_cell.css';
@import './_menu-bar.css';
@import './_hidden-counter.css';
@import './_modal.css';
@import './_desktop.css';
@import './_help-modal.css';
@import './_instructions-modal.css';
